[Unit]
Description=PiInk webserver service
After=syslog.target network.target

[Service]
ExecStart=bash /home/user/PiInk/scripts/start.sh
WorkingDirectory=/home/user/PiInk/scripts/
Restart=always

[Install]
WantedBy=multi-user.target
