blinker==1.9.0
Bootstrap-Flask==2.5.0
click==8.3.1
Flask==3.1.2
Flask-WTF==1.2.2
gpiod==2.4.0
gpiodevice==0.0.5
inky==2.2.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.3.5
pillow==12.0.0
smbus2==0.5.0
spidev==3.8
Werkzeug==3.1.4
WTForms==3.2.1
